.ombre-carousel img {
    max-height: 450px;
}

.ombre-carousel figcaption p strong, .grid-container strong {
    color: #da9737;
}

.ombre-carousel > figcaption > p {
    vertical-align: top;
}

.ombre-carousel h5 {
    height: 3.5em;
    word-break: break-word !important;
}

.color-orange {
    color: #da9737;
    font-size: 14px;
    font-weight: bold !important;
}

.orange {
    color: #da9737;
    font-weight: bold !important;
}


/* styles for '...' */
.block-with-text {
    /* Over flow hidden hides the text if it is more than N lines  */
    overflow: hidden;
    /* To set '...' in absolute position */
    position: relative;
    /* Use this value to count block height */
    line-height: 1.6em;
    /* Max-height = line-height (1.2) * lines max number (2) */
    max-height: 26em;
    /* If the last visible word doesn't adjoin right side then this will fix the problem */
    text-align: justify !important;
    /* place for '...' */
    padding-right: 40px;
    margin-bottom: 1em;
}

/* create the ... */
.block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 20px;
    bottom: 0;
}

/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 20px;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

.google-maps {
    height: 0;
    overflow: hidden;
    padding-bottom: 70%; /* aspect ratio */
    position: relative;
}
.google-maps iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
    -webkit-backface-visibility: hidden;  /* Fix for transition flickering */

}

.ordered-list {
    list-style: none;
    margin: 40px 0px 40px 15px;
    padding: 0px;
    counter-reset: li;
}
.ordered-list ol {
    margin: 0 0 0 40px;
}
.ordered-list li {
    margin-bottom: 15px;
}
.ordered-list > li:last-child {
    margin-bottom: 0px;
}
.ordered-list > li > ol {
    margin-top: 40px;
}
.ordered-list span {
    position: relative;
    display: inline-block;
    padding: 5px 10px 5px 35px;
    margin: 0px;
}
.ordered-list span:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -18px;
    height: 26px;
    width: 26px;
    line-height: 20px;
    text-align: center;
    font-weight:700;
    border-radius: 100%;
    vert-align:  middle;
}
.ordered-list li ol li span{
    font-weight: normal;
}

.show-image {
    display: block;
}

.hide-image {
    display: none;
}

.grid-header-equal {
    height: 2.75em;
    word-break: break-word !important;
}

.event-overview-img {
    height: 400px;
}

.article-justify {
    text-align: justify;
}

.img-full {
    max-height: 100% !important;
}

/* Error pages */
.error-code {
    font-size: 12em;
    color: #da9737;
}

.error-align-center {
    text-align: center;
}

.error-code-message {
    font-size: 2em;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 20px;
}

/* Alerts */
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 700;
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-primary hr {
    border-top-color: #9fcdff;
}

.alert-primary .alert-link {
    color: #002752;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-secondary hr {
    border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
    color: #202326;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-success hr {
    border-top-color: #b1dfbb;
}

.alert-success .alert-link {
    color: #0b2e13;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-info hr {
    border-top-color: #abdde5;
}

.alert-info .alert-link {
    color: #062c33;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-warning hr {
    border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
    color: #533f03;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger hr {
    border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
    color: #491217;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-light hr {
    border-top-color: #ececf6;
}

.alert-light .alert-link {
    color: #686868;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-dark hr {
    border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
    color: #040505;
}

/* Labels */
/*
label {
    color: #da9737;
}
*/

.select-input {
    position: relative;
    width: 100%;
    display: block;
    margin: 0px 0px 30px 0px;
    padding: 15px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    outline: none !important;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #16171D;
    border: 1px solid #363635;
    color: #818181;
}